:root {
  --primary-color: rgb(92, 66, 102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
}

.container {
  padding: 40px;
  max-width: 700px;
  color: whitesmoke;
  background-color: var(--primary-color);
  margin: 40px auto;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 40px;
  font-size: 1.5em;
  padding: 5px;
  outline: none;
  margin-bottom: 10px;
}

form button {
  height: 40px;
  background-color: whitesmoke;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.2em;
}

.table-imc {
  display: flex;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.table-imc div {
  flex: 1 1 auto;
} 

.result-imc-sucess{
  background-color: darkgreen;
  color: lightgreen;
  padding: 20px;
}

.result-imc-error {
  background-color: darkred;
  color: pink;
  padding: 20px;
}

.hide {
  display: none;
}