<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>EJS O que é você?</h1>
  <form action="./" method="POST">
    <input placeholder="Nome" name="name" type="text">
    <input placeholder="Idade" name="age" type="number">
    <button type="submit">Enviar</button>
  </form>
</body>
</html>